/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* css variables */
:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* global style */
body {
  margin: 0;
  font-family: "Istok Web", sans-serif !important;
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}

.random-element {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
}

.nav-bar,
.top-content-container {
  padding-left: 150px;
  padding-right: 150px;
}

/* nav bar */
.nav-bar {
  /* background-color: var(--primary-color); */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  /* border-bottom: 1px solid #F5F5F8; */
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  position: sticky;
  z-index: 1;
}

.logo {
  height: 100px;
  display: flex;
  align-items: center;
  filter: invert(100%);
  font-size: 36px;
}

.nav-links {
  display: flex;
}

.nav-link {
  font-size: 16px;
  padding-left: 10px;
  color: var(--secondary-color) !important;
}

.nav-link:hover {
  cursor: pointer;
}

/* top container */
.top-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main text */
.main-text {
  font-size: 96px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* contact us button */
.contact-btn {
  color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 24px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  margin-bottom: 60px;
  transition: transform 100ms linear;
  backdrop-filter: blur(10px);
  user-select: none;
  border: 1px solid white;
}

.contact-btn::before {
  content: ""; /* Necessary for pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Ensure the glow has the same round corners as the card */
  background: radial-gradient(
    circle,
    rgba(135, 168, 50, 0.3) 20%,
    transparent 50%
  );
  z-index: -1; /* Ensure it stays behind the card */
}

.contact-btn:hover {
  cursor: pointer;
  backdrop-filter: blur(5px);
  color: var(--secondary-color);
  border-color: white;
  transform: scale(1.1);
}

.contact-btn:active {
  transform: none;
}

#backgroundCanvas {
  position: fixed;
  top: 0;
  left: 0;
}

/* mission text */
.mission-text {
  font-size: 32px;
  text-align: center;
}

/* how it works */
.section-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  /* margin-bottom: 60px; */
}

.card-title {
  font-weight: bold;
}

/* footer */
.footer-container {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-space {
  width: 10px;
}

.card-container {
  text-align: center;
}

.card-img-top {
  height: 200px;
  object-fit: contain;
  padding: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 3px 6px 0px (0, 0, 0, 0.9);
  font-weight: 100 !important;
}

/* Create the card with a moving glow effect */
.card-container {
  position: relative; /* Required for the pseudo-element */
  overflow: hidden; /* Ensures the glow stays behind the card */
  padding: 20px;
  border-radius: 10px;
}

/* Create the moving glow behind the card using ::before */
.card-container::before {
  content: ""; /* Necessary for pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Ensure the glow has the same round corners as the card */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 20%,
    transparent 50%
  );
  z-index: -1; /* Ensure it stays behind the card */
}

/* Initially, cards are invisible */
.card-container {
  opacity: 0; /* Make the cards invisible initially */
  transform: translateY(50px); /* Start below the viewport */
}

/* Add the class when the card is in the viewport */
.card-container.visible {
  opacity: 1; /* Fade in the card */
  transform: translateY(0); /* Move the card to its normal position */
}

.sub-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.section-container {
  margin-top: 60px !important;
}

.limitations::before {
  content: ""; /* Necessary for pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Ensure the glow has the same round corners as the card */
  background: radial-gradient(
    circle,
    rgba(251, 56, 108, 0.05) 20%,
    transparent 50%
  );
  z-index: -1; /* Ensure it stays behind the card */
}

.limitations .card-title {
  color: rgb(252, 125, 157) !important;
}

.limitations {
  border: 1px solid rgba(252, 125, 157, 0.3) !important;
}

form button {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px);
  padding: 10px !important;
  border: none;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.contact-card {
  z-index: 100 !important;
}

.need-space {
  margin-bottom: 20px;
}

/* bars */
.bars {
  display: none;
  position: absolute;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
}

.bar {
  display: none;
  height: 5px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 50px;
}
/* responsiveness */



/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .top-content-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 120px;
    width: 100%;
    background-color: black;
    z-index: 100;
  }

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;

  }

  .bars {
    display: block;
    font-size: 56px;
    z-index: 20;
    position: relative;
  }

  .nav-bar {
    padding-left: 50px;
    padding-right: 50px;
  }

  .bars:hover {
    cursor: pointer;
  }

  .bar {
    display: block;
  }

  .mission-text {
    font-size: 24px;
  }

  .contact-btn {
    font-size: 16px;
  }

  .main-text {
    font-size: 66px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .main-text {
      font-size: 36px !important;  /* Ensure it's overridden */
    }
  
    .top-content-container {
      padding: 10px !important; /* Force padding to apply */
    }
  
    .mission-text {
      font-size: 16px !important; /* Force font size to apply */
    }
  
    .contact-btn {
      font-size: 16px !important; /* Force font size to apply */
    }
  
    .section-title {
      font-size: 16px !important; /* Force font size to apply */
    }
  
    .sub-title {
      font-size: 12px !important; /* Force font size to apply */
    }
  
    .section-title {
      margin-top: 50px !important; /* Ensure margin applies */
    }
  
    .section-container {
      margin-top: 30px !important; /* Ensure margin applies */
    }
  }
  